<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackerVue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'admin/common' %>
    <%= javascript_pack_tag 'admin/common' %>

    <%= yield :stylesheet %>
  </head>

  <body>

    <div id="app">
      <%= yield %>
    </div>

    <%= yield :javascript %>
  </body>
</html>
